* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  border-bottom: 1px solid rgba(128, 128, 128, 0.426);
  box-shadow: 10px 10px 10px 10px rgba(128, 128, 128, 0.459);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: none;
  justify-content: space-between;
  list-style-type: none;
  height: 0;
  /* overflow: hidden;
  transition: var(--transition); */
}

ul {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 130px;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  margin-right: 15px;
  font-size: 22px;
  color: grey;
}

.links a:hover {
  /* color: aqua; */
  padding: 0;
  background: transparent;
}

.social-icons {
  margin: 0 400px;
  display: flex;
  justify-content: space-between !important;
}

.social-icons i {
  color: rgb(0, 140, 255);
  background-color: #ffff;
  margin-right: 10px;
  font-size: 18px;
}

.social-icons i:hover {
  background-color: #ffff;
}

.nav-header {
  padding: 0;
}

.nav-toggle {
  width: 30px;
  height: 30px;
}

.links {
  /* height: auto; */
}

.social-icons {
}

/* @media screen and (max-width: 800px) {
  .nav-center {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .nav-header {
    padding: 0;
  }

  .nav-header {
    display: flex;
  }

  .nav-toggle {
    display: flex;
  }

  .links {
    display: none;
  }

  .social-icons {
    display: none;
  }

  .show-links {
    height: 10rem;
    display: flex;
  }

  .show-links a {
    text-decoration: none;
    font-size: 16px;
    color: grey;
    margin-right: 15px;
  }
} */
